body {
    padding-top: 100px;
}

div.layui-form-item {
    margin-bottom: 30px;
}

#gallery {
    display: none;
}

#galleryPreview {
    padding-left: 20px;
    max-height: 310px;
    overflow-x: hidden;
    overflow-y: auto;
}

.layui-upload button {
    float: right;
    margin-left: 10px;
}